.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.table {
    align-items: center;
}

.div-assignment {
    width: 100%;
    display: flex;
    align-content: center;
    
}